// Define variables for your color scheme

// For example:


$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$yellow1: #cd872a;
$blue1: #E1EFF6;
$pinkdark1: #946c74;
$pinklight1: #bb7d80;
$graydark1: #3a3335;
$graylight1: #46434b;
$tranq1: #fbf8e8;
$red1: #F45B69;
$green1: #143109;
