<div class="custom-select"">
  <select>
    <option id="option-head" value="0">Head</option>
    <option id="option-plant"value="1">Plant</option>
    <option value="2">Plant</option>
    <option value="3">Plant</option>
    <option value="4">Ford</option>
    <option value="5">Honda</option>
    <option value="6">Jaguar</option>
    <option value="7">Land Rover</option>
  </select>
</div>
