<div class="custom-select"">
  <select>
    <option id="option-head" value="0">Hat</option>
    <option id="option-face"value="1">Glasses</option>
    <option id="option-neck" value="2">Scarf</option>
    <option id="option-body" value="3">Blanket</option>
    <option id="option-couch" value="4">Couch</option>
    <option id="option-table" value="5">Table</option>
    <option id="option-side_table" value="6">Side table</option>
    <option id="option-window" value="7">Window</option>
    <option id="option-plant" value="8">Plant</option>
    <option id="option-floor" value="9">Pet</option>
    <option id="option-wall" value="10">Painting</option>
  </select>
</div>
