<div class="surprise-img">
  <%= image_tag("surprise_potato.png", :alt => "secret bonus potato") %>
</div>
<div class="surprise-text">
  <p>Trancis "Tranq" Tenderton was found on May 18th 2017. He lives in Montréal with his best friend Michael Belzil.
  If you'd like to see some more drawings of him and his exploits, you can find him on The Tranquilgram.</p>
  <p>This digital experience was built in August 2018 by Michael Belzil, Sara Neila Jimenez, Sawyer Gilker, and Konstantin Baumer with help from our professors at Le Wagon.</p>
  <p>
  Our code is open source and we welcome feedback and contributions of all shapes and sizes.</p>
</div>

