<div class="surprise-img">
  <%= image_tag("surprise_potato.png", :alt => "secret bonus potato") %>
</div>
<div class="surprise-text">
  <p>Trancis "Tranq" Tenderton was born on May 18th 2017.
  If you'd like to see some more drawings of him and his exploits, you can find him on The Tranquilgram.
  This digital experience was built in August 2018 by Michael Belzil, Sara Neila Jimenez, Sawyer Gilker, and Konstantin Baumer with help from our professors at Le Wagon.
  Our code is open source.</p>
</div>

