<div class="surprise-img">
  <%= image_tag("surprise_potato.png", :alt => "secret bonus potato") %>
</div>
<div class="surprise-text">
  <p>Trancis "Tranq" Tenderton was found on May 18th 2017. He lives in Montréal with his best friend Michael Belzil.
  If you'd like to see some more drawings of him and his exploits, you can find him on The <a href="https://www.instagram.com/tranquilest_faces_only/">Tranquilgram.</a></p>
  <p>This digital experience was built in August 2018 by <a href="https://github.com/michaelbelzil">Michael Belzil</a>, <a href="https://github.com/sarneijim">Sara Neila Jimenez</a>, <a href="https://github.com/sawyerkg">Sawyer Gilker</a>, and <a href="https://github.com/Koncoder">Konstantin Baumer</a> with help from our professors at <a href="https://www.lewagon.com/">Le Wagon.</a></p>
  <p>
  Our <a href="https://github.com/michaelbelzil/tranq">code</a> is open source and we welcome feedback and contributions of all shapes and sizes.</p>

