<div class="show-wrapper">
  <%= render 'shared/navbar' %>
  <div class="content row expanded main-tranq">
    <div class ="space">
      <div class = "added__items"></div>
      <%= image_tag('tranq_home.png', id: "tranq") %>
    </div>
  </div>
  <%= render 'shared/flashes' %>
</div>
