<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class ="navbar">

  <ul class ="navbar__list">
    <li class ="navbar__list__item"><a id="feed_option" href="#"><i class="fa fa-apple"></i></a></li>
    <li class ="navbar__list__item"><a id="decoration_option" href="#"><i class="fas fa-table"></i></a></li>
    <li class ="navbar__list__item"><a id="friend_option" href="#"><i class="fa fa-car"></i></a></li>
    <li class ="navbar__list__item"><a id="setting_option" href="#"><i class="fa fa-wrench"></i></a></li>
  </ul>

  <div class="navbar__specific--parent">
    <ul class ="navbar__specific">
      <li class ="navbar__specific__item"><a href="#home"></i></a></li>
    <li class ="navbar__specific__item"><a href="#home"></i></a></li>
    <li class ="navbar__specific__item"><a href="#home"></i></a></li>
    <li class ="navbar__specific__item"><a href="#home"></i></a></li>
      <li class ="navbar__specific__item"><a href="#home"></i></a></li>
      <li class ="navbar__specific__item"><a href="#home"></i></a></li>
      <li class ="navbar__specific__item"><a href="#home"></i></a></li>
    </ul>
  </div>
</div>

<div class="content row expanded">
dkjlksjhfkjdvh kfjhkgvjghkgjhkhkjhkjhkjhkjhkjhkjhkjhkjhkjhkjhkjhkjhkjhkjhkjhkjhkjhjkhkjhkjhkjhkjhkjhkjhkjhjh
</div>
