  <div class="wrapper">
    <div class="toggle-box">
      <i class="fas fa-lightbulb toggle-img" id="toggle-day"></i>
      <i class="far fa-lightbulb d-none toggle-img" id="toggle-night"></i>
    </div>
  </div>



