<div class="wrapper">
  <div class="toggle-box">
    <div class="navbar_button toggle-img" id="toggle-night" style="background-image: url('<%= image_path("button_switch_day.png") %>')"></div>
    <div class="navbar_button d-none toggle-img" id="toggle-day" style="background-image: url('<%= image_path("button_switch_night.png") %>')"></div>
  </div>
</div>



