<div class = "form">

  <div class = "header">

    <div class = "sign-up-container">
      <h2>sign up</h2>
      <div class = "underline-thick"></div>
    </div>

    <div class = "sign-in-container">
      <h2>sign in</h2>
      <div class = "underline-thick"></div>
    </div>

  </div>

  <div class = "sign-in-form">

    <h1>Sign in to continue.</h1>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
                      <% end %>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
  <% end %>
    <button>
      <div class = "button-text">sign in</div>
    </button>
    <a class = "forgot">forgot password?</h3>

  </div>



