<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--head">
    <div class="navbar_button" id="draw_tool" data-toggle="modal" data-target="#myModal" style="background-image: url('<%= image_path("button_draw.png") %>')"></div>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--head">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://openclipart.org/download/216151/Head.svg"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--face">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="http://www.stickpng.com/assets/images/58569d234f6ae202fedf2755.png"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--neck">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://www.cartier.jp/content/dam/rcq/car/13/65/85/4/1365854.png"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--body">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://cdn.shopify.com/s/files/1/0256/7557/products/TYF-1404_whiskey_ed_grande.png?v=1522079629"/>
  </a>
</li>

<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--couch">
  <a href="#home">
    <h1>Couch</h1>
  </a>
</li>

<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--table">
  <a href="#home">
    <h1>Table</h1>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--side_table">
  <a href="#home">
    <h1>Side Table</h1>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--window">
  <a href="#home">
    <h1>Window</h1>
  </a>
</li>

<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--plant">
  <a href="#home">
    <h1>Plant</h1>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--floor">
  <a href="#home">
    <h1>Floor</h1>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--wall">
  <a href="#home">
    <h1>Wall</h1>
  </a>
</li>
