<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--head">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://openclipart.org/download/216151/Head.svg"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--face">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://cdn3.vectorstock.com/i/1000x1000/14/67/cartoon-home-furniture-table-vector-741467.jpg"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--neck">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://openclipart.org/download/216151/Head.svg"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--body">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://cdn3.vectorstock.com/i/1000x1000/14/67/cartoon-home-furniture-table-vector-741467.jpg"/>
  </a>
</li>

<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--couch">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://openclipart.org/download/216151/Head.svg"/>
  </a>
</li>

<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--table">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://cdn3.vectorstock.com/i/1000x1000/14/67/cartoon-home-furniture-table-vector-741467.jpg"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--side_table">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://openclipart.org/download/216151/Head.svg"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--lamp">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://cdn3.vectorstock.com/i/1000x1000/14/67/cartoon-home-furniture-table-vector-741467.jpg"/>
  </a>
</li>

<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--plant">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://cdn3.vectorstock.com/i/1000x1000/14/67/cartoon-home-furniture-table-vector-741467.jpg"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--floor">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://openclipart.org/download/216151/Head.svg"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--wall">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://cdn3.vectorstock.com/i/1000x1000/14/67/cartoon-home-furniture-table-vector-741467.jpg"/>
  </a>
</li>
