
<li data-type="head" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--head">
  <a href="#home">
    <p class = "navbar__specific--decorate">Noggin</p>
  </a>
</li>
<li data-type="face" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--face">
  <a href="#home">
    <p class = "navbar__specific--decorate">Face</p>
  </a>
</li>
<li data-type="neck" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--neck">
  <a href="#home">
    <p class = "navbar__specific--decorate">Neck</p>
  </a>
</li>
<li data-type="body" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--body">
  <a href="#home">
    <p class = "navbar__specific--decorate">Body</p>
  </a>
</li>

<li data-type="couch" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--couch">
  <a href="#home">
    <p class = "navbar__specific--decorate">Couch</p>
  </a>
</li>

<li data-type="table" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--table">
  <a href="#home">
    <p class = "navbar__specific--decorate">Table</p>
  </a>
</li>
<li data-type="side_table" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--side_table">
  <a href="#home">
     <p class = "navbar__specific--decorate">Side Table</p>
  </a>
</li>
<li data-type="window" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--window">
  <a href="#home">
     <p class = "navbar__specific--decorate">Window</p>
  </a>
</li>

<li data-type="plant" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--plant">
  <a href="#home">
    <p class = "navbar__specific--decorate">Plant</p>
  </a>
</li>
<li data-type="floor" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--floor">
  <a href="#home">
    <p class = "navbar__specific--decorate">Floor</p>
  </a>
</li>
<li data-type="wall" class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--wall">
  <a href="#home">
    <p class = "navbar__specific--decorate">Wall</p>
  </a>
</li>
