<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--head">
    <div class="" id="draw_tool" data-toggle="modal" data-target="#myModal" style="background-image: url('<%= image_path("button_draw.png") %>')"></div>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--head">
  <a href="#home">
    <p class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535131568/Template%20tranq/e6alfxygo4qjmxvinrl4.png">Noggin</p>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--face">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535122631/Template%20tranq/eiycp8d2cetja9aunjnn.png"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--neck">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535063554/Template%20tranq/elxadqhevdx4hijblkbe.png"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--body">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535063288/Template%20tranq/h12vjh3rydctjxd0nah1.png"/>
  </a>
</li>

<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--couch">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535063312/Template%20tranq/ct5zcrslbqxbta0hxlbo.png"/>
  </a>
</li>

<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--table">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535123094/Template%20tranq/oe6b02fz8aw6smbgnwu7.png"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--side_table">
  <a href="#home">
     <img class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535063650/Template%20tranq/he2zjfqkmqohkat0gw4y.png"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--window">
  <a href="#home">
     <img class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535063697/Template%20tranq/qocjyshrkpyruihprypw.png"/>
  </a>
</li>

<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--plant">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535063597/Template%20tranq/aiyjqptug69oh6lpwu49.png"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--floor">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535063481/Template%20tranq/voym9esnppatif4vmbuc.png"/>
  </a>
</li>
<li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--wall">
  <a href="#home">
    <img class = "navbar__specific--decorate" src="https://res.cloudinary.com/sarneijim/image/upload/v1535063650/Template%20tranq/he2zjfqkmqohkat0gw4y.png"/>
  </a>
</li>
