<% head_items.each do |head_item| %>
  <li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--generic navbar__specific__item--generic--hat">
    <%= link_to tranq_path(@tranq, item_id: head_item.id, category: head_item.category), method: :patch do %>
      <%= image_tag(head_item.photo) %>
    <% end %>
  </li>
<% end %>
