.added__items .toolbar__item{
  position: absolute;
  background-size: 100% 100%;
}


// For each type of element
.added__items .toolbar__item--head{

  width: 29.72%;
  height: 30%;
  left: 18.3%;
  top: 11%;
  z-index: 9;

}

.added__items .toolbar__item--face{
  width: 9.27%;
  height: 15%;
  left: 27.8%;
  top: 18%;
  z-index: 10;
}

.added__items .toolbar__item--neck{
  width: 25%;
  height: 25%;
  left: 21%;
  top: 25%;
  z-index: 8;
}
//CONFIRMED
.added__items .toolbar__item--body{
  width: 24.7218%;
  height: 40%;
  left: 21.013597%;
  top: 25%;
  z-index: 6;
}

.added__items .toolbar__item--couch{
  top: 28%;
  left: 14.8%;
  width: 61.5%;
  height: 48.8%;
  z-index: 5;
}
.added__items .toolbar__item--table{
  width: 43%;
  height: 40%;
  left: 27%;
  top: 60%;
  z-index: 11;
}
//CONFIRMED
.added__items .toolbar__item--side_table{
  width: 24.7218%;
  height: 40%;
  left: 0;
  top: 35%;
  z-index: 2;
}

.added__items .toolbar__item--window{
  width: 62.2%;
  height: 40%;
  left: 14.5%;
  top: 0;
  z-index: 3;
}

.added__items .toolbar__item--plant{
  width: 31%;
  height: 70%;
  left: 0;
  top: 5.5%;
  z-index: 7;
}
//CONFIRMED
.added__items .toolbar__item--floor{
  width: 30.9023%;
  height: 25%;
  left: 0;
  top: 75%;
  z-index: 4;
}
//CONFIRMED
.added__items .toolbar__item--wall{
  width: 30.902%;
  height: 60%;
  left: 69.09%;
  top: 0;
  z-index: 1;
}
