
.added__items .toolbar__item{
  position: absolute;
  background-size: 100% 100%;
}


// For each type of element
.added__items .toolbar__item--head{
  width: 25%;
  height: 32%;
  left: 19%;
  top: 7%;
}

.added__items .toolbar__item--face{
  top: 9%;
  left: 20%;
  img{
    width: 22%;
  }

}

.added__items .toolbar__item--neck{
  top: 28%;
  left: 22%;
  img{
    width: 24%;
  }
}

.added__items .toolbar__item--body{
  top: 28%;
  left: 22%;
  img{
    width: 24%;
  }
}

.added__items .toolbar__item--couch{
  top: 26.3%;
  left: 15%;
  img{
    width: 61.3%;
  }
}
.added__items .toolbar__item--table{
  width: 25%;
  height: 32%;
  left: 19%;
  top: 7%;
}

.added__items .toolbar__item--side_table{
  width: 25%;
  height: 32%;
  left: 19%;
  top: 7%;
}

.added__items .toolbar__item--window{
  width: 25%;
  height: 32%;
  left: 19%;
  top: 7%;
}

.added__items .toolbar__item--plant{
  width: 25%;
  height: 32%;
  left: 19%;
  top: 7%;
}

.added__items .toolbar__item--floor{
  width: 25%;
  height: 32%;
  left: 19%;
  top: 7%;
}

.added__items .toolbar__item--wall{
  width: 25%;
  height: 32%;
  left: 70%;
  top: 7%;
}
