
.added__items .toolbar__item{
  position: absolute;
  background-size: 100% 100%;
}


// For each type of element
.added__items .toolbar__item--head{
  top: 11%;
  left: 19%;
  img{
    width: 10%;
    height: 100%
  }

}

.added__items .toolbar__item--face{
  top: 9%;
  left: 20%;
  img{
    width: 22%;
  }

}

.added__items .toolbar__item--neck{
  top: 28%;
  left: 22%;
  img{
    width: 24%;
  }
}

.added__items .toolbar__item--body{
  top: 28%;
  left: 22%;
  img{
    width: 24%;
  }
}

.added__items .toolbar__item--couch{
  top: 26.3%;
  left: 15%;
  img{
    width: 61.3%;
  }
}
.added__items .toolbar__item--table{
  top: 64%;
  left: 32%;
  height: 35%;
  width: 35%;
}

.added__items .toolbar__item--side_table{
  top: 46%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.added__items .toolbar__item--window{
  top: 25%;
  left: 27%;
  height: 100%;
  width: 100%;
}

.added__items .toolbar__item--plant{
  top: 44%;
  left: 77%;
  height: 100%;
  width: 100%;
}

.added__items .toolbar__item--floor{
  top: 75%;
  left: 47%;
  height: 100%;
  width: 100%;
}

.added__items .toolbar__item--wall{
  top: 15%;
  left: 67%;
  height: 100%;
  width: 100%;
}
