/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0 215px 0 0;
  color: $pinklight1;
  border-radius: 0;
  border: none;
  position: relative;
  z-index: 8;
  font-size: 14px;
}
.alert-info {
  background: $tranq1;
}
.alert-warning {
  background: $red1;
}
