.draw__color{
  display: flex;
  height: 30px;
  align-items: stretch;
  justify-content: stretch;
  width: 100%
}
.color{
  width: 100%;
  margin: 0px 5px 15px
}

#slider_track {
  position: relative;
  width: 94%;
  margin: auto;

  top: 18%;

  div{
    height: 4px;
    border-radius: 100px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,.4);
    margin: 20px 0;
  }
}

#slider {
  position: absolute;
  width: 5px;
  height: 20px;
  top: 11px;
  left: 3%;
  border-radius: 100px;
  background: $graylight1;
  box-shadow: 0 0 0px 1px $graydark1;
}

#slider_icon {
  position: absolute;
  width: 50%;
  right: 50%;
  top: 50%;
  transform: translate(50%,-50%);
  user-select: none;  /* prevents browser from highlighting the icon when sliding */
}

/* a transparent surface that prevents browser from grabbing the icon when sliding */
#slider_mask {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#footer_canvas{
  display:flex;
  justify-content: space-around;
  margin-top:12px;
  a{
    color: $light-gray;
    &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.4;
    }
  }
}

.label-upload-photo {
   cursor: pointer;
   /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}



#palette_div{
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  margin:auto;
}
.color:hover {
  box-shadow: inset 0 0 0px 1px rgba(0,0,0,.6), inset 0 0 20px 8px rgba(0,0,0,.25);
}
#black:hover {
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.6), inset 0 0 40px 15px rgba(255,255,255,.2);
}
.canvas_div{
  font-size: 0;
  margin: auto;
}

// Modal

.modal-header{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  z-index: 1;
  button{
    color: $pinkdark1;
    opacity: 1;
    &::hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

}
.modal-body{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient($tranq1, $pinkdark1);
}
.modal-dialog{
  width: 760px;
}
#stealed-text{
  margin: 10px 0 20px;
}

#category, #photo{
  display:none;
}

.color-selected{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.6), inset 0 0 20px 8px rgba(0,0,0,.25);
}

.canvas_div, .option-face, .option-body, .option-side_table {
  background-size: 400px 400px;
  width: 400px;
  height: 400px;
}
.option-head{
  background-size: 500px 375px;
  width: 500px;
  height: 375px;
}
.option-neck{
  background-size: 480px 300px;
  width: 480px;
  height: 300px;
}
.option-couch, .option-table{
  background-size: 700px 350px;
  width: 700px;
  height: 350px;
}
.option-window{
  background-size: 700px 280px;
  width: 700px;
  height: 280px;
}
.option-plant{
  background-size: 500px 700px;
  width: 500px;
  height: 700px;
}
.option-floor{
  background-size: 500px 250px;
  width: 500px;
  height: 250px;
}
.option-wall{
  background-size: 500px 600px;
  width: 500px;
  height: 600px;
}

.hidden_element {
  display: none;
}
