#myStealModal .canvas_div:hover, .hover-on-tranq, .other-space .toolbar__item:hover{
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  margin-top: 1px;
  margin-left: 1px;
  border: 2px dashed rgba(187, 125, 128, .5);
}
