.hover-on-tranq {
  border-radius: 25px;
  border: 5px solid $pinklight1;
  transition: all 0.5s ease-in-out;
  margin-top: 1px;
  margin-left: 1px;
  animation: spin 10s infinite reverse linear;

}


