.magic{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  a{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.magic__item__switch{
    position: absolute;
    top: 28%;
    left: 6.2%;
    width: 3%;
    height: 5%;
  .toggle-img{
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }
}
.magic__item__window{
  position: absolute;
  width: 61.80%;
  height: 40%;
  left: 14.83%;
  top: 0;
  z-index: 3;
  background: red;
  opacity: 0.5;
  animation: pulse 30s infinite;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 6px 20px;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}
