.space {
  width: Calc(100% - 200px);
  background: $tranq1;
  position: relative;
  max-height: 100vh;
  overflow-y: scroll;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgb(85,85,80);
  background: radial-gradient(ellipse 600px 600px at 33% 36%, rgba(85, 85, 80, 0.0648634454) -20%, rgba(0, 0, 0, 0.7007177871) 43%, rgba(47, 46, 35, 0.9192051821) 350%, black 450%);
  transition: opacity 5s;
}

#tranq {
  width: 100%;
}

