.navbar{
  color: $pinklight1;
  // background: linear-gradient(355deg, $pinkdark1 0%, $pinklight1 100%);
  background: $tranq1;
  // border: 4px solid $graydark1;
  border-radius: 0;
  height: 100vh;
  width: 215px;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
}

// game mode icons <ul>
.navbar__list{
  display: flex;
  padding: 8%;
  flex-wrap: wrap;
  margin-bottom: 0;
}

// game mode icons <li>
.navbar__list__item {
   list-style-type: none;
   margin: 5%;
   text-align:center;
   width: 40%;
   img {
    width: 35px;
   }
}

// list of options for each game mode <ul>
.navbar__specific{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

// wrapper for list of options for each game mode <div>
.navbar__specific--parent{
   height: Calc(100% - 160px);
   width: 100%;
   overflow: hidden;
   position: relative;
}

// this shows marshmallow by default on reload
.navbar__specific--feed{
  display: flex;
}

// options displayed after game mode choice
.navbar__specific__item{
  // option text design
  font-variant: small-caps;
  font-weight: 300;
  color: $pinklight1;
  background: transparent;
  // option design
  cursor: pointer;
  overflow: hidden;
  list-style-type: none;
  width: 100%;
  margin: 0 !important;
  display: none;
  background: transparent;
  opacity: 0.85;
    &:hover {
      opacity: 1.0;
      background: rgba(187, 125, 128, 0.05)
    }
  a {
    width: 100%;
    text-decoration: none;
  }
  div {
    height: 80px;
    width: 100%;
    margin: 10% 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
      width: 100%;
      text-align: center;
      padding: 12% 4%;
    }
}

// decorate mode categories
.navbar__specific__item--generic{

}
// decorate mode options
.toolbar__item{
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.item-li {
  display: flex;
  // justify-content: space-between;

}

.delete_button{
  // margin-left: 80px;
  max-width: 60px;
  // flex-shrink: 1;
  // flex-basis: 10px;
}


// THIS SHOULD BE USELESS
//
// .friend_button {
//   // color: $tranq1;
//   font-size: 0.7em;
// }

// options that are images (lumped in with navbar__specific__item)
// .navbar_button {
//   width: 100%;

// }



// img.navbar__specific--decorate{
//   // width: 100%;
// }

// .navbar__specific--friend{

// }

// .navbar__specific--setting{

// }
