.navbar{
  background: linear-gradient(355deg, $pinkdark1 0%, $pinklight1 100%);
  border: 4px solid $graydark1;
  border-radius: 0;
  height: Calc(100vh);
  width: 215px;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;

}
.navbar__list{
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.navbar__list__item {
   list-style-type: none;
   margin: 5%;
   text-align:center;
   width: 40%;
   img {
    width: 35px;
   }
}
.navbar__specific--parent{
   height: Calc(100% - 160px);
   width: 100%;
   overflow: hidden;
   position: relative;

}
.navbar__specific{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
.navbar__specific__item{
  overflow: hidden;
  list-style-type: none;
  width: 80%;
  height: 100px;
  margin: 10px 10%;
  display: none;
  background: $tranq1;
  border-radius: 25%;
  opacity: 0.85;
    &:hover {
      opacity: 1.0;
    }
  a {
    width: 100%;
    border-radius: 25%;
    text-decoration: none;
  }
  div {
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar__specific--feed{
  display: flex;
}

img.navbar__specific--decorate{
  width: 100%;
}

.navbar_button {
  width: 100%;
  background: $tranq1;
}

.toolbar__item{
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
