.navbar{
  color: $pinklight1;
  background: $tranq1;
  border-radius: 0;
  width: 215px;
  margin-bottom: 0;
  top: 0;
  right: 0;
  z-index: 9;
  border-left: 1px solid gray;
  min-height: 310px;
}

// game mode icons <ul>
.navbar__list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  // background: #fbf8e8;
  // border: 1px solid #bb7d80;
  border-radius: 5px;
  padding: 5px 5px 20px;
}

// game mode icons <li>
.navbar__list__item {
   list-style-type: none;
   margin: 5%;
   text-align:center;
   width: 15%;
   img {
    width: 35px;
   }
}

// list of options for each game mode <ul>
.navbar__specific{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

// wrapper for list of options for each game mode <div>
.navbar__specific--parent{
  height: Calc(100% - 145px);
  width: 100%;
  overflow: hidden;
  position: relative;
}

// this shows marshmallow by default on reload
.navbar__specific--feed{
  display: flex;
}

// options displayed after game mode choice
.navbar__specific__item{
  // option text design
  font-variant: small-caps;
  font-weight: 300;
  color: $pinklight1;
  background: transparent;
  // option design
  cursor: pointer;
  overflow: hidden;
  list-style-type: none;
  width: 100%;
  margin: 0 !important;
  display: none;
  background: transparent;
  opacity: 0.85;
    &:hover {
      opacity: 1.0;
      background: rgba(187, 125, 128, 0.05)
    }
  a {
    width: 100%;
    text-decoration: none;
  }
  div {
    height: 80px;
    width: 100%;
    margin: 10% 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
      width: 100%;
      text-align: center;
      padding: 12% 4%;
    }
}

// decorate mode categories
.navbar__specific__item--generic{

}
// decorate mode options
.toolbar__item{
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.item-li {
  display: flex;
  // justify-content: space-between;

}

.delete_button{
  // margin-left: 80px;
  max-width: 60px;
  // display: hidden;
  // flex-shrink: 1;
  // flex-basis: 10px;
.delete_button {
  text-align: center;
}

.small__icons--navbar{
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 190px;
  margin: 0 11px;
  .navbar__specific__item {
    width: 15%;
    div {
      height: 35px;

    }
  }

}
.name__house{
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

