html, body{
  min-height: 100%;
}
.toggle-img {
  height: 100px;
  width: 100px;
  transition: all 3s ease-in-out;
  position: absolute;
  top: 15px;
  left: 25px;
  z-index: 1;
}
.d-none {
  display: none;
}
